<!-- Footer -->
<footer class="page-footer font-small" style="background:#000033;">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5">
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6>
          <a href="/docs/current/">Docs</a>
        </h6>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6>
          <a href="/download.html">Get started</a>
        </h6>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6>
          <a href="/resources.html">Resources</a>
        </h6>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6>
          <a href="/development/">Development</a>
        </h6>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6>
          <a href="/blog/index.html">Blog</a>
        </h6>
      </div>
    </div>

    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <div class="mb-5 flex-container row flex-center">
          <a class="fb-ic" href="https://twitter.com/{{site.twitter_user}}" target="_blank">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <a class="gh-ic" href="{{site.github_repo_url}}" target="_blank">
            <i class="fab fa-github fa-lg white-text mr-4"></i>
          </a>
          <a class="tw-ic" href="https://www.youtube.com/channel/UCpqxUwvIA6vaXW45KO1GMhA" target="_blank">
            <i class="fab fa-youtube fa-lg white-text mr-4"> </i>
          </a>
          <a class="sl-ic" href="{{site.url}}/slack.html">
            <i class="fab fa-slack fa-lg white-text mr-4"> </i>
          </a>
          <a class="sl-ic" href="{{site.url}}/broadcast/">
            <i class="fab fa-twitch fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pt-3 pb-5">
    Trino is open source software licensed under the
    <a href="{{site.github_repo_url}}/blob/master/LICENSE">Apache License 2.0</a>
    and supported by the
    <a href="/foundation.html">Trino Software Foundation</a>.
    See trademark and other
    <a href="/legal.html">legal notices</a>.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
