<footer class="footer" align="center">
    <div class="width text-center">
      <a href="/docs/current/">Documentation</a>&ensp;·&ensp;
      <a href="/community.html">Community</a>&ensp;·&ensp;
      <a href="/resources.html">Resources</a>&ensp;·&ensp;
      <a href="/development/">Development</a>&ensp;·&ensp;
      <a href="/download.html">Download</a>&ensp;·&ensp;
      <a href="/blog/index.html">Blog</a>
    </div>
    <div class="width text-center">
      <p class="text-center">
        <a href="https://twitter.com/prestosql" target="_blank"><img src="/assets/icon-footer-twitter.png" class="footer-icons" /></a>
        <a href="https://github.com/prestosql/presto" target="_blank"><img src="/assets/icon-footer-github.png" class="footer-icons" /></a>
        <a href="https://www.youtube.com/channel/UCpqxUwvIA6vaXW45KO1GMhA" target="_blank"><img src="/assets/icon-footer-youtube.png" class="footer-icons" /></a>
      </p>
    </div>
    <div class="width text-center copyright">
      Presto is open source software licensed under the Apache License and supported by the <a href="/foundation.html">Presto Software Foundation</a>
    </div>
</footer>
  