<!--Main Navigation-->
<header>
  <div class="announcement">
    <a href="{{site.github_repo_url}}">
      <h2>Do you ❤️ Trino? Give us a 🌟 on GitHub <i class="fab fa-github"></i></h2>
    </a>
  </div>
    <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar" style="background: #000033;height:80px;">
      <a class="navbar-brand" href="{{site.url}}" style="padding-top:0px;">
        <img src="/assets/images/trino-logo/trino-ko_tiny-alt.svg" style="height:35px;vertical-align:top;padding-left:10px;" alt="Trino">
        <img src="/assets/images/trino-logo/trino.svg" style="margin-left:5px;height:20px;margin-right:30px;margin-top:10px;" alt="Trino">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-top:10px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/docs/current/">Docs</a>
          </li>
          <li class="nav-item {% if page.url contains '/download' %}active{% endif %}">
            <a class="nav-link"  href="/download.html">Get started</a>
          </li>
          <li class="nav-item {% if page.url contains '/resources' %}active{% endif %}">
            <a class="nav-link" href="/resources.html">Resources</a>
          </li>
          <li class="nav-item dropdown
            {% if page.url contains '/community'
              or page.url contains '/slack.html'
              or page.url contains '/broadcast'
              or page.url contains '/individual-code-of-conduct.html'
              or page.url contains '/guidelines-corporate.html' %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="/community.html">Community</a>
            <div class="dropdown-menu dropdown-block">
              <a class="dropdown-item" href="/slack.html">Slack</a>
              <a class="dropdown-item" href="/broadcast">Community broadcast</a>
              <a class="dropdown-item" href="/individual-code-of-conduct.html">Code of conduct</a>
              <a class="dropdown-item" href="/guidelines-corporate.html">Corporate guidelines</a>
            </div>
          </li>
          <li class="nav-item dropdown {% if page.url contains '/development' %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="/development/">Development</a>
            <div class="dropdown-menu dropdown-block">
              <a class="dropdown-item" href="/development/vision.html">Vision</a>
              <a class="dropdown-item" href="/development/process.html">Contribution process</a>
              <a class="dropdown-item" href="/development/roles.html">Development roles</a>
              <a class="dropdown-item" href="/docs/current/develop.html">Developer guide</a>
            </div>
          </li>
          <li class="nav-item {% if page.url contains '/blog/' %}active{% endif %}">
            <a class="nav-link"  href="/blog/">Blog</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/{{site.twitter_user}}" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.github_repo_url}}" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/c/{{site.youtube_channel}}" target="_blank"><i class="fab fa-youtube"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/slack.html"><i class="fab fa-slack"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/broadcast/"><i class="fab fa-twitch"></i></a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  <!--Main Navigation-->
