<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/blog/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="alternate" href="{{ '/blog/feed.xml' | relative_url }}" type="application/atom+xml" title="Presto Blog">
  {%- include google-analytics.html -%}
</head>

<body>
  {%- include header.html -%}

  <header class="hero clearfix">
      <div class="width">
          <h1>Blog</h1>
      </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>
</html>
