<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Presto | {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css" type="text/css"/>

    <meta name="viewport" content="width=device-width">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Presto | {{ page.title }}">
    <meta property="og:description" content="Distributed SQL Query Engine for Big Data">
    <meta property="og:image" content="/assets/presto-og.png">
    {%- include google-analytics.html -%}
</head>
<body>

<header class="topbar clearfix">
    <nav class="width">
        <a href="/"><h1>Presto</h1></a>
        <ul class="nav">
            <li><a href="/docs/current/">Docs</a></li>
            <li><a href="/community.html"{%- if page.menu_id == 'community' -%} class="active"{% endif %}>Community</a></li>
            <li><a href="/resources.html"{%- if page.menu_id == 'resources' -%} class="active"{% endif %}>Resources</a></li>
            <li><a href="/development/"{%- if page.menu_id == 'development' -%} class="active"{% endif %}>Development</a></li>
            <li><a href="/download.html"{%- if page.menu_id == 'download' -%} class="active"{% endif %}>Download</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
</header>

{{ content }}

<div style="margin-bottom:50px;"></div>

<footer class="footer" align="center">
  <div class="width text-center">
    <a href="/docs/current/">Documentation</a>&ensp;·&ensp;
    <a href="/community.html">Community</a>&ensp;·&ensp;
    <a href="/resources.html">Resources</a>&ensp;·&ensp;
    <a href="/development/">Development</a>&ensp;·&ensp;
    <a href="/download.html">Download</a>&ensp;·&ensp;
    <a href="/blog/">Blog</a>
  </div>
  <div class="width text-center">
    <p class="text-center">
      <a href="https://twitter.com/prestosql" target="_blank"><img src="/assets/icon-footer-twitter.png" class="footer-icons" /></a>
      <a href="https://github.com/prestosql/presto" target="_blank"><img src="/assets/icon-footer-github.png" class="footer-icons" /></a>
    </p>
  </div>
  <div class="width text-center copyright">
    Presto is open source software licensed under the Apache License and supported by the Presto Software Foundation
  </div>
</footer>

</body>
</html>
