{%- include html-header.html -%}

{%- include header.html -%}

{%- if page.show_hero -%}
{%- include hero.html -%}
{%- endif -%}

  <!-- Comment to remove TOC from a page -->
{% if page.show_pagenav  %}
<div class="row" style="margin-left:0; margin-right:0;">
  <div class="col-xl-2 d-xl-block d-none">
  </div>
  <div class="col-xl-8 col-sm-12">
    <div class="mx-2">
      {% include anchor_headings.html html=content anchorBody="#" %}
    </div>
  </div>
  <div class="col-xl-2 d-xl-block d-none">
    <div style="position: sticky; position:-webkit-sticky; top:10px; max-height:100vh; overflow-y:auto;" class="outline-card">
      <u>Table of contents</u>
      {% include toc.html html=content h_min=2 %}
      <br style="clear:both;"/>
    </div>
  </div>
</div>
{% else %}
  {{ content }}
{% endif %}

<div style="margin-bottom:50px;"></div>

{%- include footer.html -%}

{%- include html-body-end.html -%}
